<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="file share,upload,download,store" />
	<meta name="description" content="File sharing host" />
    <title>{{ name }}</title>
    {% comment %}<link rel="stylesheet" type="text/css" href="/media/css/stylesheet.css" media="all"/>{% endcomment %}
    <link rel="stylesheet" type="text/css" href="/media/plugins/bootstrap-3.2.0/css/bootstrap.min.css" media="all"/>
    <link rel="stylesheet" href="/media/plugins/jquery.fileupload.css">
    <link rel="stylesheet" href="/media/plugins/jquery.fileupload-ui.css">

    <script type="text/javascript" src="/media/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/media/plugins/bootstrap-3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/media/plugins/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/media/plugins/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/media/plugins/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/media/plugins/jquery.fileupload-process.js"></script>
    <script type="text/javascript" src="/media/plugins/ZeroClipboard.min.js"></script>
</head>

<body>
    <div class="container">
        <br/>
        <br/>
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Upload files...</span>
            <input id="fileupload" type="file" name="files[]" multiple>
        </span>
        <span style='color: rgb(236,236,236); float: right; font-size:42px;' class='hidden-xs'>drag file to upload</span>
        <span style='color: rgb(236,236,236); float: right; font-size:24px;' class='visible-xs'>drag file to upload</span>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div id="progress" class="progress" style='position: fixed; left: 2px; right: 2px; top: 2px;'>
            <div class="progress-bar progress-bar-success" style='width: 0%;'></div>
        </div>
        <div id="files" class="files">
            <div id="just-loaded">

            </div>
            {% for file in files %}
                    {% ifchanged file.created.date %}
                        <div style='border: solid 0 rgb(236,236,236); border-top-width: 1px; margin-top: 16px;'></div>
                        <div style='font-size: 18px; color: rgb(200,200,200); float: right'>{{ file.created|date:"F, d" }}</div>
                        <br/>
                    {% endifchanged %}
                <div>
                    <span class='btn copy' data-clipboard-text='http://{{ request.META.HTTP_HOST }}/={{ file.slug }}' style='float:left'><i class='glyphicon glyphicon-link'></i>
                    </span><a href='/={{ file.slug }}'>{{ file.filename }}</a>
                    <br/>
                    <span style='font-size: 0.8em; color: gray; width: 60px; display:inline-block'>{{ file.size|filesizeformat }}</span>
                    {% if file.downloaded_count > 0 %}
                        <span style='font-size: 0.8em; color: gray; display:inline-block'>downloaded: {{ file.downloaded_count }}</span>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>

<script type='template'>
    <div>
        <span class='done hidden'>
            <span class='btn copy' style='float:left'>
                <i class='glyphicon glyphicon-link'></i>
            </span>
            <a href='/=%slug%'>%filename%</a>
        </span>
        <span class='temp'>
            <span style='width: 14px; height: 14px; margin: 6px 12px; float:left'>
                <i class='glyphicon glyphicon-upload'></i>
            </span>
            %filename%
        </span>

        <br/>
        <div class="progress progress-to-remove" style='width: 20%; height: 8px; position: relative;margin-bottom: 13px;'>
            <div class="progress-bar progress-bar-success" style='width: 1%;'></div>
        </div>
        <span class='size done hidden' style='font-size: 0.8em; color: gray; width: 60px; display:inline-block'>%size%</span>
    </div>
</script>

<script>
    $(function () {
        'use strict';

        var map = {};
        var progressBar = $('#progress .progress-bar');

        $('#fileupload').fileupload({
            url: '/upload/{{ name }}',
            dataType: 'json',
            autoUpload: true,
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    var item = map[file.name];
                    $('.progress', item).hide();
                    $('.temp', item).hide();
                    $('.done', item).removeClass('hidden');
                    $('a', item)[0].href = '/=' + file.slug;
                    $('.size', item).html(file.size);
                    $('.copy', item).data('clipboard-text', 'http://' + location.host + '/=' + file.slug );
                    var clipboard = new ZeroClipboard($('.copy', item));
                    clipboard.on('copy', function(e){
                        var link = $('.copy', item).data('clipboard-text');
                        e.clipboardData.setData('text/plain', link);
                    });
                    clipboard.setData( "text/plain", 'http://' + location.host + '/=' + file.slug);
                });
            },
            send: function (e, data) {
                $.each(data.files, function (index, file) {
                    var html = $("script[type=template]").html()
                        .replace( /%filename%/g, file.name)
                        .replace( /%size%/g, '')
                        .replace( /%host%/g, location.host)
                        .replace( /%slug%/g, '');
                    map[file.name] = $(html).appendTo('#just-loaded');
                });
            },
            start: function(){
			},
            stop: function(){
                progressBar.css('width', '0%');
			},
            progress: function(e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $.each(data.files, function (index, file) {
                    var progressBar = $('.progress  .progress-bar', map[file.name]);
                    progressBar.css('width', progress + '%' );
                });
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                progressBar.css('width', progress + '%' );
            }
        })
        .prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');

        new ZeroClipboard( $('.copy') );

    });

    </script>

</body>
</html>