<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="file share,upload,download,store" />
	<meta name="description" content="File sharing host" />
    <title>Mei Mew</title>
    <link rel="stylesheet" type="text/css" href="/media/plugins/bootstrap-3.2.0/css/bootstrap.min.css" media="all"/>
    <script type="text/javascript" src="/media/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/media/plugins/bootstrap-3.2.0/js/bootstrap.min.js"></script>
</head>

<body style='background-color: {{ background }}; height: 100%'>
    <div >
        <div class='hidden-xs' style='font-size: 128px; font-weight: bold; color: rgba(236,236,236,1); position: absolute; top: 12px; left: 64px;'>Mei Mew</div>
        <div class='hidden-xs' style='position: absolute; top: 160px; left: 400px; font-size: 18px; color: {{ color }}'>File exchange point</div>
        <div class='hidden-xs' style='border: solid 0 rgba(236,236,236,1); border-top-width: 1px; width: auto; margin-top: 200px; margin-left: 400px;'></div>

        <div class='visible-xs' style='font-size: 64px; font-weight: bold; color: rgba(236,236,236,1); position: absolute; top: 12px; left: 64px;'>Mei Mew</div>
        <div class='visible-xs' style='position: absolute; top: 84px; left: 200px; font-size: 12px; color: {{ color }}'>File exchange point</div>
        <div class='visible-xs' style='border: solid 0 rgba(236,236,236,1); border-top-width: 1px; width: auto; margin-top: 106px; margin-left: 200px; margin-bottom: 8px;'></div>

        <div class='container'>
            <div style='margin: auto; width: 200px; margin-top: 40%;'>
                <input id='name' type='text' placeholder="Need storage?" style='width: 200px;' />
                <button class='btn go' style='width: 200px; margin-top: 16px; color: rgba(255,255,255,1);background: rgba(0,0,0,0.3); border-radius: 0px;'>Take one</button>
            </div>
        </div>

        <div style='position: absolute; bottom: 0; margin: 8px 64px; width: 200px; color: lightgray'>
            Don't worry, be easy...
        </div>
    </div>


<script>
    function randomString() {
        var result = '';
        var length = 4;
        var chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
        for (var i = length; i > 0; --i)
            result += chars[Math.round(Math.random() * (chars.length - 1))];
        return result;
    }

    function go() {
            var value = $("#name").val() || "";
            location.href = '/' + (value.length>0 ? value : randomString());
    }

    $(function () {
        $(".go").click(go);
        $("#name").on("keydown", function(e){
            if (e.keyCode===13) go();
        });
     });

</script>

</body>
</html>